/*@charset "utf-8";*/

html{
	margin: 0;
	padding: 0;
	/*min-height: 100%;*/
	font-family: sans-serif;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
}
body{
	margin: 0;
	padding: 50px;
	max-width: 100%;
	height: auto;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
	background: #ccc;
	/*border: 1px solid gray;*/
	box-sizing: border-box;
}

.main{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 20px 5px;
	flex: auto;
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 5px;
}
.header{
	flex: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*border: 1px solid green;*/
	margin: 5px;
}
.content{
	flex: 10 1 auto;
	/*border: 1px solid lime;*/
	margin: 0px 5px;

}
.content img{
	max-width: 100%;
	height: auto;
}


.box-side{
	flex: 0 0 600px;
	display: flex;
	flex-direction: column;
	/*border: 1px solid blue;*/
	margin: 5px;
	/*height: 90px;*/
}
.box-icons{
	flex: 0 0 250px;
	/*border: 1px solid blue;*/
	margin: 5px 0;
	padding: 10px 10px 0 0;
	/*height: 87px;*/
	text-align: right;
}

.box-icons i{
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	color: #222;
	padding: 10px 20px;
	margin-right: 5px;
}

.box-icons i:hover{
	border: 1px solid #aaa;
	background: #f0f0f0;
}

.box-icons i:first-child{
	border: 1px solid #e0e0e0;
	margin-right: 30px;
	padding: 10px;
}

.box-icons i:first-child:hover{
	border: 1px solid #aaa;
	background: #f0f0f0;
}


.logo{

	flex: auto;
	/*border: 1px solid orange;*/
	margin: 5px;
}
.logo h1{
	font-size: 2em;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

.nav{
	flex: auto;
	display: flex;
	flex-wrap: wrap;
	/*border: 1px solid orange;*/
}

.nav-itm {
	border: 1px solid #3d373f;
	/*margin: -1px;*/
	background: #27212f;
	color: white;
	width: auto;
	padding: 10px 20px;
	font-size: 0.9rem;
	text-decoration: none;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-itm:first-child{
	border-radius: 4px 0 0 0;
}
.nav-itm:last-child{
	border-radius: 0 4px 0 0;
}

.nav-itm:hover {
	background: #3d373f;
	border: 1px solid #27212f;
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; /* тип курсара */
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

/* стили модального окна */
.popup {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 10;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
/*min-width: 320px;*/
max-width: 320px;
text-align: center;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 50px 0;
border: 1px solid #383838;
/* скругление углов */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}

.popup i{
	margin: 30px 10px;
	color: #e5e3e3;
}
.popup i:hover{
	color: gray;
}


.overlay:target+.popup {
top: 20%;
visibility: visible;
opacity: 1;
}
/* формируем кнопку закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: rgba(252, 20, 0, 0.8);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);    
}


@media screen and (max-width: 880px) {
	.header{
		flex-direction: column;
	}
	.box-side{
		flex: auto;
	}

	.box-icons {
		flex: auto;
	}
}